{% extends 'base.html' %}
{% from 'macros.html' import render_form %}

{% block title %}Analysis{% endblock %}

{% block body %}
  <form method="POST" action="{{ url_for('front.analysis') }}" style="text-align: center;">
     {{ form.csrf_token }}
     <span>{{ form.city.label }}</span>
     <span>{{ form.city }}</span>
<!--     <span>{{ form.position.label }}</span>
     <span>{{ form.position }}</span>
-->
     <span>{{ form.submit(class="btn btn-primary") }}</span>
  </form>
  <center><img src="../static/all.png" width="600px" height="400px"/></center>
{% endblock %}

{% block big %}{% endblock %}