{% extends 'base.html' %}

{% block title %}Choice{% endblock %}
{% block body %}
<div>
   <a href="{{ url_for('user.userprofile') }}" style="position:relative;left:80px" >
       <button class="btn btn-success btn-user" style="width: 380px;height: 240px;font-size: 40px;color: orangered;">求职用户</button>
   </a>
   <a href="{{ url_for('company.companyprofile') }}" style="position:relative;left:320px">
       <button class="btn btn-success btn-company" style="width: 380px;height: 240px;font-size: 40px;color: orangered;">企业用户</button>
   </a>
</div>
{% endblock %}
