{% extends 'base.html' %}
{% from "macros.html" import render_form %}
{% block title %}PhoneRegister{% endblock %}
{% block body %}
<div class='form-phone' method='POST' action="{{ url_for('front.phoneregister') }}">
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% if active == 'email' %}active{% endif %}">
        <a href="{{ url_for('front.userregister') }}">邮箱注册</a>
      </li>
      <li role="presentation" class="{% if active == 'phone' %}active{% endif %}">
        <a href="{{ url_for('front.phoneregister') }}">手机注册</a>
      </li>
    </ul>
    <div>{{ render_form(form,url_for('front.phoneregister')  }}
        <button type="submit" class="btn btn-info" name="code" onclick="{{ send_code(form.phone.data) }}">获取验证码</button>
    </div>
</div>
{% endblock %}
