{% extends 'base.html' %}
{% from 'macros.html' import render_form %}

{% block title %}PhoneRegister{% endblock %}
{% block body %}
<div class='form' method='POST'>
    <ul class="nav nav-tabs">
        <li role="presentation" class="{% if active == 'email' %}active{% endif %}">
        <a href="{{ url_for('front.userregister') }}">邮箱注册</a>
      </li>
      <li role="presentation" class="{% if active == 'phone' %}active{% endif %}">
        <a href="{{ url_for('front.phoneregister') }}">手机注册</a>
      </li>
    </ul>
    {{ render_form(form1,url_for('front.phoneregister')) }}
    {{ render_form(form2,url_for('front.phoneregister')) }}
</div>
{% endblock %}
