{% extends 'base.html' %}
{% from 'macros.html' import render_form %}

{% block title %}UserRegister{% endblock %}
{% block body %}
<div class='form'>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="{{ url_for('front.userregister'}}">邮箱注册</a>
      </li>
      <li role="presentation" class="{% if active == 'online_job' %}active{% endif %}">
        <a href="{{ url_for('front.phoneregister') }}">手机注册</a>
      </li>
    </ul>
  {{ render_form(form,url_for('front.userregister')) }}
</div>
{% endblock %}

