.btn-delivery {
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 2px;
    margin-bottom: 10px;
    text-align: center;
    width: 215px;
}

.form-phone {
    width: 250px;
    margin: 0 auto;
}

.form {
    width: 400px;
    margin: 0 auto;
}

.nav-pagination {
    margin: 0 auto;
}

.job-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.company-name {
    text-align: center
}

.company-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.company-meta {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a, a:hover, a:visited {
    text-decoration: none !important;
    color: #0063c8;
}

.list-more-btn {
    padding: 10px 138px;
    background-color: #5cb85c;
}

.job-box {
    padding: 13px;
    border: solid 2px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
 }

.list-title {
    margin: 0 15px;
}

.list-group {
    border: solid 1px #ddd;
    border-radius: 5px;
    line-height: 1.5;
    box-sizing: border-box;
}

.list-group-item {
    font-size: 18px;
}

.job_detail_name {
    position: relative;
    display: inline-block;
    height: 36px;
    font-size: 36px;
    color: #ffffff;
    line-height: 36px;
}

.job-salary {
    color: #fd5f39;
    outline: 0;
}

.company-logo {
    width: 181px;
    height: 181px;
}

.company-desc {
    color: #777;
}

p.site_name {
    font-size: 40px;
    display: block;
    left: 25%;
    color: white;
}

p.site_desc {
    color: white;
}

.jumbotron {
    background: linear-gradient(45deg,#020031 0,#6d3353 100%) !important;
    background-image: linear-gradient(45deg, rgb(2, 0, 49) 0px, rgb(109, 51, 83) 100%) !important;
}

#NavTop{
    width:140px;
    height:270px;
    margin-top:50px;
    position:fixed;
    right:0px;top:150px;
}
#NavCon ul{
    margin-top:40px;
}
#NavCon ul li a{
    text-decoration:none;
    color:#fff;
    width:105px;
    height:30px;
    background:#555;
    display:block;
    margin-top:10px;
    margin-left:20px;
    line-height:30px;
    text-align:center;
    font-size:14px;
}

#NavCon ul li a:hover{
    background:#cc0066;
}

#NavCon img.bottom{
    margin-top:15px;
}

#fdck {
    border:1px solid #c0c0c0;
    margin:0 auto;padding:5px;
    background-color: rgba(0, 0, 0, 0);
    color: red;
}